<div class="new_form_main">
<div class="new_post_form-container">
<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  

  <div class="mb-3">
    <%= form.label :title, for:"exampleInputEmail1", class:"form-label" %>
    <%= form.text_field :title, class:"form-control", id:"exampleInputEmail1" %>
  </div>

  <div class="mb-3">
    <%= form.label :body, for:"examplebody", class:"form-label" %>
    <%= form.text_area :body, class:"form-control", id:"examplebody" %>
  </div>

 <div class="shared_links">

    <div class="actions">
      <%= form.submit  class:"btn btn-primary"  %>
    </div>
  </div>
<% end %>
</div>
</div>